{% extends "layout.html" %}

{% block main %}
  <h2>Welcome, {{request.session.firstname}}</h2>
  <hr>
  <p>Actually this is a boring dashboard, but you can verify that you are logged in.</p>
  <p>Grab some popcorn, These features are coming soon</p>
  <ul>
    <li>
      <a href="/calender">Calender / Scheduler</a> [Now UNDER development]
      <br> Try out this feature as your feedback matters :) - Joydeep
      <br>
      <hr>
    </li>
    <li>
      Quora style Q&A
    </li>
    <li>
      Medium style blog
    </li>
    <li>
      Some More Functionality
    </li>
  </ul>

{% endblock %}
