{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block title %}
Calender-Monthly View
{%  endblock %}

{% block main %}
<div class="col-sm-12">
  {% csrf_token %}
  <form class="form" action="" method="post" id="addnew">
    <fieldset>
    </fieldset>
  </form>
  <div class="row">
      <h2 id="calender_title">Calender</h2>
  </div>

  <div class="row" style="text-align: center;">
    <table class="table">
      <thead id="calender_head"></thead>
      <tbody id="calender_body" style="text-align:middle;"></tbody>
    </table>
  </div>

  <div class="row">
    <ul class="pager">
       <li class="previous"><a href="#">Previous</a></li>
       <li class=""></li>
       <li class="next"><a href="#">Next</a></li>
     </ul>
  </div>
</div>
<!-- Modal -->
    <div id="addnewModal" class="modal fade" role="dialog" style="overflow-y:scroll;">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <form class="form" action="" method="post" id="addnewEventForm">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="addnewModal_title"></h4>
              </div>
              <div class="modal-body">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                  {% if field.errors %}
                  <div class="form-group has-error">
                  {% else %}
                  <div class="form-group">
                  {% endif %}
                    <label for="{{ field.id_for_labels }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    {% for error in field.errors %}
                      <span class="help-block">{{error}}</span>
                      <script>toastr["error"]("{{error}}", "Error")</script>
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-success">Add</button>
              </div>
            </form>
        </div>
      </div>
    </div>
    <!-- End of Modal -->

<script type="text/javascript">

  var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
  var monthlyEvents = "";
  var daywiseTotalEvents = []
  var lastaddmonth = ""

  function render_calender(year,cmonth) {
    cmonth = parseInt(cmonth) - 1
    adjheaders(); // Adjust the headers

    var innerhtml = "<tr>" // Padding for the last month

    var totalFeb = ""; // Stores Total days in FEB
    if ((year % 100 !== 0) && (year % 4 === 0) || (year % 400 === 0))
      totalFeb = 29;
    else
      totalFeb = 28;
    var totalDays = ["31", "" + totalFeb + "", "31", "30", "31", "30", "31", "31", "30", "31", "30", "31"];

    var adjmonth = parseInt(cmonth) + 1; // Adjusts the current month by 1
    var firstMonthDay = new Date(adjmonth + ' 1 ,' + year); // First Day of Month
    var firstWeekDay = firstMonthDay.getDay(); // Week day equiv of First Day of Month

    var temp = parseInt(firstWeekDay);
    var lastmonthtotal = totalDays[(cmonth-1) < 0?(cmonth-1 + 12 ):(cmonth-1)]

    // Adjust padding for the previous month
    while(temp-- > 0)
      innerhtml += "<td></td>"

    var i = firstWeekDay
    var currentMonthTotal = totalDays[cmonth]
    var day = 1

    while (day <= currentMonthTotal) {
      if(i % 7 == 0 )
        innerhtml += "</tr><tr>"
      innerhtml += "<td onclick=\"showEvents("+day+","+cmonth+","+year+")\"><h4>"+day+"</h4>"
      if(!isNaN(daywiseTotalEvents[day]))
        innerhtml += "<span class=\"badge\">"+daywiseTotalEvents[day]+"</span>"
      innerhtml += "</td>"
      i++;
      day++;
    }
    innerhtml += "</tr>"

    document.getElementById('calender_body').innerHTML = innerhtml;
    document.getElementById('calender_title').innerHTML = "Calender: "+monthNames[cmonth]+", "+year

  }

  function hide_modal(){
    document.getElementById('modal_body').innerHTML = ""
    $('#message').modal('hide');
  }


  function render_month(year,month) {
    if(month < 10)
      month = "0"+month
    $('#message').modal();
    document.getElementById('modal_head').innerHTML = "<h3>Loading: "+ monthNames[parseInt(month)-1] +", "+year
    document.getElementById('modal_body').innerHTML = loaderHTML
    var xh = new XMLHttpRequest();
    xh.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        monthlyEvents = JSON.parse(xh.responseText);
        distributeEvents();
        render_calender(year,month);
        setTimeout(hide_modal,1000);
      }
      else if(this.status == 500){
        document.getElementById('modal_body').innerHTML = "Server Error, Take a Screen-Shot & Ping Joydeep"
      }
    };
    xh.open("GET","/calender/getEventsByMonth?month="+year+"-"+month)
    xh.send()
  }

  function distributeEvents(){
    for(var i = 0; i < monthlyEvents.length;i++){
      date = parseInt(monthlyEvents[i].start_date.split("-")[2])
      if(isNaN(daywiseTotalEvents[date]))
        daywiseTotalEvents[date] = 0
      daywiseTotalEvents[date] += 1
    }
  }

  function showEvents(day,month,year) {
    $('#message').modal();
    if(++month < 10)
      month = "0"+month
    if(day < 10)
      day = "0"+day
    document.getElementById('modal_head').innerHTML = "<h3>Events For: "+day+", "+monthNames[parseInt(month)-1]+"</h3>"
    var innerhtml = "<div class=\"panel-group\" id=\"EventsAccordion\">"
    var incheck = 0
    for(var i = 0; i < monthlyEvents.length;i++){
      temp_day = parseInt(monthlyEvents[i].start_date.split("-")[2])
      if(parseInt(temp_day) == parseInt(day)){
        incheck++;
        innerhtml += "<div class=\"panel panel-default\">"
        innerhtml +=  "<a class=\"list-group-item\" data-toggle=\"collapse\" data-parent=\"#EventsAccordion\" href=\"#collapse"+i+"\">"
        //innerhtml +=    "<h4 class=\"panel-title\">"
        innerhtml +=       ""+monthlyEvents[i].event_name+""
        innerhtml +=       "<span class=\"badge\">"+monthlyEvents[i].event_level+"</span>"
        //innerhtml +=    "</h4>"
        innerhtml +=  "</a>"
        innerhtml +=  "<div id=\"collapse"+i+"\" class=\"panel-collapse collapse"+((incheck == 1)?" in":"")+"\">"
        innerhtml +=    "<div class=\"panel-body\">"
        innerhtml +=    "<p><b>Time: </b>"+monthlyEvents[i].start_time+"</p>"
        innerhtml +=    "<p><b>At: </b>"+monthlyEvents[i].location+"</p>"
        innerhtml +=    "<p><b>Description: </b>"+monthlyEvents[i].description+"</p>"
        innerhtml +=    "<p><b>Updated by: </b><span class=\"label label-info\">"+monthlyEvents[i].creator_name+"</span></p>"
        innerhtml +=    "<div class=\"modal-footer\"><button class=\"btn btn-warning\" onclick=\"editEvent('"+monthlyEvents[i].event_id+"')\">Edit</button></div>"
        innerhtml +=    "</div>"
        innerhtml +=  "</div>"
        innerhtml +="</div>"
      }
    }
    if(incheck == 0)
      innerhtml += "<p>No Events for today, create some new</p>"
    innerhtml += "</div>"
    document.getElementById('modal_body').innerHTML = innerhtml
    innerhtml = "<button class=\"btn btn-success\" onclick=\"addEvent('"+day+"','"+month+"','"+year+"')\">Add New Event</button>"
    document.getElementById('modal_footer').innerHTML = innerhtml;
  }
  function addEvent(day,month,year) {
    //toastr["error"]("Thanks for your interest, but this feature is cumming soon- Joydeep", "Ouch!")
    document.getElementById('modal_body').innerHTML = ""
    document.getElementById('modal_footer').innerHTML = ""
    hide_modal();
    document.getElementById('addnewModal_title').innerHTML = "New Event On: "+day+", "+monthNames[parseInt(month)- 1]
    document.getElementById('creator_name').value = "{{ request.session.firstname }}";
    document.getElementById('start_date').value = year + "-" + month + "-" + day
    lastaddmonth = year + "-" + month + "-" + day
    //console.log(document.getElementById('creator_name').value);
    $('#addnewModal').modal('toggle');
  }
  function editEvent(eventID){
    toastr["error"]("Thanks for your interest, but this feature is cumming soon- Joydeep", "Ouch!")
  }
  function adjheaders() {
    var innerhtml = "";
    if ($(window).width() < 650)
        innerhtml += "<th>Sun</th> <th>Mon</th> <th>Tues</th> <th>Wed</th> <th>Thur</th> <th>Fri</th> <th>Sat</th>";
     else
        innerhtml += "<th>Sunday</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th>";
    document.getElementById('calender_head').innerHTML = innerhtml;
  }
  function rerender(){
    //console.log("rerender callled");
    render_month(parseInt(lastaddmonth.split("-")[0]),parseInt(lastaddmonth.split("-")[1]))
  }
  $(window).resize(function() {
    adjheaders();
  });
  document.onreadystatechange = function () {
    if (document.readyState === "complete") {
      render_month(2017,9)
    }
  }

  $('#addnewEventForm').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    post_eventForm();
  });
  function post_eventForm() {
    //console.log("Ajax Post is working!") // sanity check
    //console.log($('#id_event_name').val())
    toastr["info"]("Till server processes your event", "Wait")
    $.ajax({
        url : "{% url 'add_new_event' %}", // the endpoint
        type : "POST", // http method
        data:  $('#addnewEventForm').serialize(),

        // handle a successful response
        success : function(json) {
          toastr["success"]("Your event added", "Voila")
           $('#addnewEventForm')[0].reset();
           $('#addnewModal').modal('toggle');
           rerender();
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
          toastr["error"]("Your event was not added", "Error")
        }
    });
  };

/* Ajax Form Submission with csfr token validation */
  $(function() {
    // This function gets cookie with a given name
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    /*
    The functions below will create a header with csrftoken
    */

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

  });
</script>
{% endblock %}
