{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}
{% block main %}
				<div class="row">

					<div class="col-sm-6" id="main">
						{% for item in data: %}
							<div class="panel panel-info">
							         <div class="panel-heading">
    								             <h3 class="panel-title"><span class="badge" style="text-align:right;">{{ item.PID }}</span> {{ item.PTITLE }} </h3>
	                     </div>
		  			           <div class="panel-body">
    								             <p>{{ item.PDEF }} </p>
	                     </div>
					             <div class="panel-footer">
                         <a class="btn btn-primary" href="/editor/{{item.PID}}">Open in IDE</a>
                       </div>
							</div>
						{% endfor %}
					</div>
					<div class="col-sm-6">
						<div class="jumbotron">
							<h2 id="">Leader Board</h2>
              <hr>
              <table class="table table-stipped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for leader in lb %}
                      <tr><td>{{leader.name}}</td><td>{{leader.score}}</td></tr>
                    {% endfor %}
                  </tbody>
            </table>
						</div>
					</div>
				</div>
			{% endblock %}
