{% extends "layout.html" %}
{% block title %}
    Editor
{% endblock %}

{% block head %}

        <style type="text/css" media="screen">
            #editorContainer {
                width: 100%;
                height: 550px;
                position: relative;
            }

            #editor {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                font-family: 'Inconsolata', monospace;
                font-size: 16px;
            }
        </style>


{% endblock %}
{% block main %}
          {% if statement %}
            <div class="row">
              <div class="col-sm-8" id="pd">
                <h1>{{ data[0].PTITLE }}</h1>
                <hr>
                <p>{{ data[0].PDEF }}</p>
            </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-8">
                    <div class="panel panel-default">
                     <div class="panel-heading">
                       <div class="btn-group btn-group-justified">
                          <div class="btn-group">
                            <button type="button" class="btn btn-success" onclick="compile_code()">
                              <span class="	glyphicon glyphicon-play"> </span> Run
                            </button>
                          </div>
                          <!-- <div class="btn-group">
                            <a type="button" class="btn btn-primary" href="#pd">
                              <span class="glyphicon glyphicon-file"></span> Statement
                            </a>
                          </div>
                          <div class="btn-group">
                            <button type="button" class="btn btn-info" onclick="toggleFullScreen()">
                              <span class="glyphicon glyphicon-fullscreen"> </span> FullScreen
                            </button>
                          </div>-->{% if statement %}
                          <div class="btn-group">
                            <button type="button" class="btn btn-warning" onclick="check_compile()">
                              <span class="glyphicon glyphicon-check"> </span> Check
                            </button>
                          </div>{% endif %}
                            <div class="btn-group">
                              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#message">
                                <span class="glyphicon glyphicon-comment"> </span> Message
                              </button>
                            </div>
                        </div>
                      </div>
                        <div id="editorContainer" class="panel-body">
                            <div id="editor">//{% if statement%} {{ session.uroll }} - {{ data[0].PID }} - {{ data[0].PTITLE }}
                                              {% endif %}

#include &ltstdio.h&gt

int main(void){
  int n;
  scanf("%d",&n);
  printf("%d",n*n);


}</div>
                      </div>
                      <div class="panel-footer">

                      </div>
                      <script src="/static/js/ide.js"></script>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="row">
                      <div class="panel panel-info">
                          <div class="panel-heading">Input</div>
                          <div class="panel-body">
                            <div class="form-group">
                              <textarea class="form-control" rows="2" id="input" placeholder="Enter Your INPUT here">{% if statement %}{{ sample[0].STDIN }}{% endif %}</textarea>
                            </div>
                          </div>
                      </div>
                    </div>
                    {% if statement %}
                      <div class="row">
                        <div class="panel panel-primary">
                          <div class="panel-heading">Sample Input</div>
                          <div class="panel-body"><textarea class="form-control" disabled id="test_in">{{ sample[0].STDIN }}</textarea></div>
                        </div>
                      </div>
                      <div class="row">
                      <div class="panel panel-primary">
                        <div class="panel-heading">Sample Output</div>
                        <div class="panel-body"><textarea class="form-control" disabled id="test_out">{{ sample[0].STDOUT }}</textarea></div>
                      </div>
                    </div>


                    {% endif %}
                </div>
            </div>
        </div>
        {% if statement%} <input type="hidden" value="{{ data[0].PID }}" id="problemid">
        <input type="hidden" value="{{ ntstc }}" id="ntestcases">{% endif %}

{% endblock %}
