<!DOCTYPE html>
<html lang="en">

<head>
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
  <meta charset="utf-8" />
  <meta content="initial-scale=1, width=device-width" name="viewport" />
  <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
  <link rel="stylesheet" href="/static/css/bootstrap.yeti.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>{% block title %}{% endblock %} | GCETTS Techventure</title>
  {% block head %} {% endblock %}
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
        <a class="navbar-brand" href="{{ url_for('index') }}">Techventure</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">

        <ul class="nav navbar-nav">
          <li><a href="/comingsoon">Poll</a></li>
          <li><a href="/comingsoon">Blog</a></li>
          <li><a href="/comingsoon">QA</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="glyphicon glyphicon-menu-hamburger"></span> Menu
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-wrench"></span> Change Password</a></li>
              <li><a href="url_for('some_area51')"><span class="glyphicon glyphicon-plus"></span> Area 51</a></li>
              <li class="divider"></li>
              <li><a href="url_for('logout')"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>

      </div>
    </div>
  </nav>
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <header>
      {% for category, message in messages %}
      <div class="alert alert-{{category}}" role="alert">{{message}}</div>
      {% endfor %}
    </header>
    {% endif %} {% endwith %}
    <main>
      {% block main %} {% endblock %}
    </main>
    <!-- Modal -->
    <div id="message" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="modal_head">Techventure</h4>
          </div>
          <div class="modal-body" id="modal_body">
            <p>GCETTS</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Modal -->
  </div>

</body>

</html>
